.first-part{
    display: flex;
    margin-bottom: 20px;
   
}
#h1{
border-left: 5px solid orangered;
}
.myself{
    margin-left: 10px;
    width: 40%;
}
.myself img{
    width: 100%;
    margin-left: 100px;
    margin-bottom: 50px;
}
#link{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    width: 10px 40px;
    border-radius: 5px;
    padding: 5px;
}
.second-part{
    margin-top: 30px;
}
.mission{
    display: flex;
    margin-bottom: 20px;
}
.my-goal{
    width: 33%;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}
.my-goal img{
    width: 50%;
    
    }
#h2{
    text-align: center;
}
#mission{
    background-color: peachpuff;
}
#vision{
    background-color: slategray;
}
#goals{
    background-color: turquoise;

}
.third-part{
    display: flex;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.develop{
    
    margin-top: 20px;
    margin-left: 30px;
}
.develop img{
width: 100%;
}
#pic{
    width: 30%;
}
#document{
    width: 70%;
}
#read{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 5px;
    border-radius: 5px;
    width: 10px 40px;
}