.first-part{
    display: flex;
    margin-bottom: 20px;
    
}
#h1{
border-left: 5px solid orangered;
}
.myself{
    margin-left: 10px;
    width: 40%;
}
.myself img{
    width: 100%;
}
#link{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    width: 10px 40px;
    border-radius: 5px;
    padding: 5px;
}
.second-part{
    
}
.mission{
    display: flex;
}
.my-goal{
    width: 33%;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}
.my-goal img{
    width: 50%;
    
    }
#h2{
    text-align: center;
}
#mission{
    background-color: peachpuff;
}
#vision{
    background-color: slategray;
}
#goals{
    background-color: turquoise;

}